<%= render @photo %>

<div>
  <%= link_to "Edit", edit_category_photo_path(@category, @photo) %> |
  <%= button_to "Destroy", category_photo_path(@category, @photo), method: :delete %>
</div>

  <%= render 'categories/photos/comments/form', comment: Comment.new %>
  <%= render partial: "categories/photos/comments/comment", collection: @photo.comments %>


