<%= form_with(model: [@category, @photo, comment]) do |form| %>
<%= render 'shared/errors', form: form %>

  <div class="mb-3">
    <%= form.label :body, class:"form-label" %>
    <%= form.text_area :body, class:"form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
