<%= form_with(model: [@category, @photo, comment]) do |form| %>
<%= render 'shared/errors', form: form %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
