<h3>Comments</h3>


<% @comments.each do |comment| %>
  <div class="card">
      <p>
      <strong>Comment:</strong><br>
      <%= comment.body %>
    </p>

    <p>
      <strong>Сreated by:</strong>
      <%= comment.user.email %>
    </p>
    
    <p>
      <strong>Category:</strong>
      <%= link_to comment.photo.category.title, comment.photo.category %>
    </p>

    <p>
      <strong>Data:</strong>
      <%= comment.created_at.strftime("%H:%M  %d.%b.%Y")%><br>
    </p>
  </div>
<% end %>
<%== pagy_bootstrap_nav(@pagy) %>