<%= form_with(model: folder) do |form| %>
<%= render "shared/errors", form: form %>


  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

