<%= @folder.title %>




<div>
  <%= link_to "Edit this folder", edit_folder_path(@folder) %> |
  <%= link_to "Back to folders", folders_path %> |
  <%= link_to "Add photo", new_folder_photo_path(@folder) %>|
  <%= button_to "Destroy this folder", @folder, method: :delete %>
</div>


<%= render partial: "folders/photos/photo", collection: @folder.photos %>