<%= form_with(model: [@folder, photo]) do |form| %>
  <% if photo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>

    <% photo.imgs.each do |img| %>
      <%= hidden_field :photo, :imgs, multiple: true %>
    <% end %>
    <%= form.label :imgs, style: "display: block" %>
    <%= form.file_field :imgs, multiple: true  %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
