<%= form_with(model: [@folder, photo]) do |form| %>
 <%= render 'shared/errors', form: form %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
