<div id="<%= dom_id photo %>">
  <p>
    <strong>Image:</strong><br>
    <%= link_to image_tag(photo.image.url(:large)), folder_photo_path(@folder, photo) %>
  </p>

  <p>
   <%= button_to "Like", [:upvote, @folder, photo], method: :patch, data: {turbo: "false"} %>
   <%= photo.cached_votes_total %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user.email %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= photo.folder.title %>
  </p>

</div>
