<%= render @photo %>

<div>
  <%= link_to "Edit this photo", edit_folder_photo_path(@folder, @photo) %> |
  <%= button_to "Destroy this photo", folder_photo_path(@folder, @photo), method: :delete %>
</div>

<div id='new_comment'>
  <%= render 'folders/photos/comments/form', comment: Comment.new %>
</div>
<div id='comment_list'>
  <%= render partial: "folders/photos/comments/comment", collection: @photo.comments %>
</div>


