<%= turbo_frame_tag category do %>
  <%= form_with(model: category) do |form| %>
    <%= render 'shared/errors', form: form %>
    <div class="field">
      <%= form.text_field :title, placeholder: "Name:", class:"form-control" %>
    </div>
    <%= form.submit class: "btn btn-primary" %>
  <% end %>
<% end %>
