<div class="card text-center border-secondary mt-3">
  <%= search_form_for @q do |f| %>
    <div class="input-group ">
      <%= f.search_field :title_cont,placeholder:"Search category:", class:"form-control rounded" %>
      <%= f.submit class:"btn btn-outline-primary" %>
    </div>
    <ul class="pagination mt-2">
      <li class="page-item disabled">
        <div class="page-link">Sort by:</div>
      </li>
      <li class="page-item page-link"><%= sort_link(@q, :title) %></li>
      <li class="page-item page-link"><%= sort_link(@q, :created_at) %></li>
      <li class="page-item page-link"><%= sort_link(@q, :photos_count) %></li>
    </ul>
  <% end %>
</div>
<div id="category">
  <div class="row row-cols-4 mt-5">
    <% @categories.each do |category| %>
      <div class="col">
        <%= render category %><br>
      </div>
    <% end %>
  </div> 
</div>
<%== pagy_bootstrap_nav(@pagy) %>
