<!DOCTYPE html>
<html>
  <head>
    <title>IGallery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <nav class="navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "IGallery", root_path, class:"navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
          <li> <%= link_to "Categories", folders_path, class:"active" %></li>
          <li> <%= link_to "Imeges", images_path, class:"active" %></li>
          <li> <%= link_to "Comments", comments_path(@comments), class:"active" %></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
          <li>
            <%= link_to current_user.email, edit_user_registration_path, class:"glyphicon glyphicon-user" %>
          </li>
          <li>
            <%= link_to " Log out", destroy_user_session_path, data: { "turbo_method": :delete }, class: "glyphicon glyphicon-log-in" %>
          </li>
          <% else %>
          <li>
            <%= link_to " Log in", new_user_session_path, class: "glyphicon glyphicon-log-in" %>
          </li>
          <li>
            <%= link_to " Register", new_user_registration_path, class:"glyphicon glyphicon-user" %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
      <br>
      <br>
      <br>
      <div class="container-fluid">
     <%= render "/shared/flash" %>
    <%= yield %>
    </div>
  </body>
</html>


  
    
  
    
    
  